CUR_DEFAULT CURSOR "cur_default.cur"
CUR_GRAB CURSOR "cur_grab.cur"
CUR_GRABBED CURSOR "cur_grabbed.cur"
CUR_HOURGLASS CURSOR "cur_hourglass.cur"
CUR_SCROLL_VERT CURSOR "cur_scroll_vert.cur"
CUR_SCROLL_HORZ CURSOR "cur_scroll_horz.cur"
CUR_EDIT_TEXT CURSOR "cur_text.cur"
CUR_SAVE CURSOR "cur_save.cur"
CUR_OPEN CURSOR "cur_open.cur"
CUR_MATH CURSOR "cur_math.cur"